@model IEnumerable<RockBand.Entities.AlbumSingle>

@{
    ViewData["Title"] = "Index";
}

<h1>Discography</h1>

<h3 style="color:yellow">The war to end all wars</h3>
<p style="color:yellow">Valley of death</p>
<audio src="~/Images/valleyofdeath.mp3" controls="controls">
</audio>
<p style="color:yellow">StormTroopers</p>
<audio src="~/Images/StormTroopers.mp3" controls="controls">
</audio>
<p style="color:yellow">Lady of the dark</p>
<audio src="~/Images/lady of the dark.mp3" controls="controls">
</audio>
